@font-face{
	font-family: poppins;
	src:local('poppins'),url('../api/font/poppins/Poppins-Regular.ttf') format('woff');
}
body{
	width:100%;
	margin:0;
	color: white;
	
}

.header{
	width:100%;
	height:80px;
	background: #000000;
	background-attachment: fixed;
	padding:20px 0 20px 0;
	font-family: poppins;
}

.header a{
	text-decoration: none;
	color: white;
}



.row1{
	width: 100%;
	height: 2440px;
	padding:1px 0 30px 0;
	float: left;
}

.bb h1{
	font-size: 35px;
	font-weight: 700;
	margin-left: 30px;

	position: absolute;

	float:left;

}
.menu nav ul li{ 
	list-style-type:none; 
	display: inline; float:left;
	position: relative;
	left: 300px;
	padding:15px 90px 0 30px;
}

.menu nav ul li a{
	font-weight: bold;
	font-size: 17px;
	color: #76BADF;
}
.menu nav ul li a:hover{
	color: white;
}

.right button{
	width: 130px;
	height: 30px;
	color: #fff;
	margin: 10px 60px 0 380px;
	border: none;
	background: #324D97;
	border-radius: 60px;
}

.right button:hover{
	background: #fff;
	color: #000000;
}

.bsub{
	background: url('../img/greater-than-sign-icon-36375.png');
	background-repeat:no-repeat;
	background-size:20px;
	background-position: right;
	background: #344072;
	border: none;
	color: #fff;
}

.right .a1{
	padding-right: 50px;
}


.artists p{
	font-weight: 700;
	color: black;
	padding-left: 50px;
}

.block1{
	float: left;
	margin-left: 40px;
}

.block1 .caption h2{
	color: black;
	font-size: 30px;
	font-weight: bold;
}

.block1 .artists > div{
	width: 100px;
	height: 100px;
	background: #34407212;
	padding-right:150px;
	border: 1px solid #fff;

	float:left;
	display:flex;
}

.block2 h2{
	color: black;
	font-weight: 700px;
}
.block2{
	/*clear:both;*/
	margin-left: 120px;
	float: left;
	/*position: relative;*/
}

.block2 .img1{
	width: 250px;
	height: 200px;
	float: left;
}

.block2 .infoimg{
	margin-top: 20px;
}
.block2 .ab img{
	width: 500px;
	height: 300px;
	margin-top: 20px;
	background-attachment: scroll;
}

.block2 .info{
	width: 500px;
	height: 200px;
	padding-left: 20px;
	/*float: left;*/
	color: black;
	background:#fff;
	border: 1px solid #000000;
}

.block2 .info a{
	text-decoration: none;
	color: #324D97;
}

.block2 .info h3{
	text-decoration: underline;
}
.block2 .info small{
	font-size: 16px;
	font-weight: 100;
}
.block2 .info{
	padding-right: 20px;
}

.block2 .button{
	width: 150px;
	height: 40px;
	border-radius: 60px;
	margin-top: 10px;
	margin-left: 120px;
	background: #324D97;
	color: #fff;
	border: none;
}

.block2right,.block2right1{
	margin-left: 40px;
	float: left;
}

.block2right img{
	width: 500px;
	height: 700px;
}

.block2right1 img{
	width: 500px;
	height: 300px;
}



.row1 .foot h3,.icon{
	clear: both;
	margin-top: 8px;
	margin-left: 480px;
}

.icon a{
	padding-right: 50px;
}

.row2{
	width: 100%;
	height: 190px;
	background: #34407212;
	padding-top: 1px;
	clear: both;
}

.row2 p{
	margin-left: 300px;
}

.row2 .ps p{
	color: #000000;
	margin-left: 480px;
}

.row2 .login .email{
	border-bottom: 1px solid blue;
}

.row2 input,.row2 button{
	width: 160px;
	padding: 10px;
	color: black;
}

.row2 button{
	height: 41px;
	background: #344072;
	color: #fff;
}

.row2 input{
	background:#34407212;
	margin-left: 480px;

}

.foot{
	color: black;
}

.magazine{
	width: 100px;
	height: 150px;
	margin-left: 280px;


	float: left;
}

.background{
	width: 110px;
	height: 160px;
	background: #344072;
	margin-left: 280px;


	/*float: left;*/
}

.row3{
	width:auto;
	height: 480px;
	background: #344072;
	padding: 50px 0 0 20px;
}

.row3 .n1{
	padding-left: 200px;
	padding-right: 200px;
	float: left;
}

.row3 .n2{
	padding-right:200px;
	float:left;
}

.row3 li{
	padding-bottom:50px;
	list-style-type: none;
}

.row3 a{
	text-decoration: none;
	color: white;
}

.row3 a:hover{
	color:#76BADF;
}

.row3 .foot{
	width: 750px;
	margin-left:200px;
}

.row3 .copyright{
	width: 300px;
	margin-left:200px;
}




